.cookie-info
  Cookie in oven:
  - if !oven.cookies.empty?
    = "#{oven.cookies.length} cookies with #{oven.batch_fillings || "no fillings"}"
    - if oven.batch_ready?
      (Your batch of cookies is Ready)
      = button_to "Retrieve Cookies", empty_oven_path(id: oven.id), class: 'button tiny'
  - else
    None