%h3= @oven.name

- if @oven.cookies && @oven.batch_completed_baking_at
  = render partial: 'cookie_info', locals: { oven: @oven }
- else
  = render_async baking_status_path(id: @oven.id), interval: 5000

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
